.container {
  padding: 10px;
}

.primary {
  color: $primary;
}

.text-center {
  text-align: center;
}

a {
  // color: $primary;
  font-weight: 400;
}

a:link,
a:visited {
  color: rgb(51, 51, 51);
}

.site-logo {
  padding: 2px 8px;
  font-size: 18px;
  height: 100%;

  &:hover {
    user-select: none;
    cursor: pointer;
  }

  color:$secondary;
  transition:300ms;
  border:2px solid $secondary;
  margin-left: 10px;
  font-family: Snigglet;
  // background-color: $secondary;
  font-weight:bold;
}

body {
  // color: white;
  // background: black;
}

@media (prefers-color-scheme: dark) {

  /* Overrides for Dark Mode. */
  body {
    color: white;
    background: black;
  }
}

//transition animation
