*,
html {
  font-family: $text-font-stack;
  font-size: 10px;
  // line-height: 28px;
  -webkit-font-smoothing: auto;
}



// html {
//   @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }
