$themes: (default:(backgroundColor:#dae0e6,
    textColor: black,
    textBackgroundColor:white,
    textBigBackgroundColor:white,
    textLightColor:#878A8C,
    textHoverLightColor:#f5f9fd,
    textBoxBorderColor: #cecece,
    boxShadow: (0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07)),
    noise:none,
    textNoise:none,
    selectFontColor:black,
    selectSelectedFontColor: #f4648a,
    selectBackgroundColor:white,
    activeLinkTextColor:$secondary,
    modalBackgroundColor:white,
    modalContainerColor:#F6F9FB,
    modalHeaderBackgroundColor:white),
  'tan': (backgroundColor:(#fff7cc url("~assets/img/noise-tan-all.png")),
    textBackgroundColor:(#eae2b9),
    textBigBackgroundColor:(#eae2b9 url("~assets/img/tanContainer.png")),
    textBoxBorderColor:white,
    textColor: black,
    textLightColor:#878A8C,
    textHoverLightColor:#f5f9fd,
    boxShadow: (0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07)),
    noise:'url("~assets/img/noise-tan-all.png")',
    textNoise:'url("~assets/img/tanContainer.png")',
    selectFontColor:black,
    selectSelectedFontColor: #f4648a,
    selectBackgroundColor:(#eae2b9),
    activeLinkTextColor:$secondary,
    modalBackgroundColor:(#eae2b9),
    modalContainerColor:#F6F9FB,
    modalHeaderBackgroundColor:#fff7cc),
  'black': (backgroundColor:#030303,
    textBigBackgroundColor:rgb(26, 26, 27),
    textBackgroundColor:rgb(26, 26, 27),
    textBoxBorderColor:white,
    textColor: rgb(215, 218, 220),
    textLightColor:#818384,
    textHoverLightColor:#030303,
    boxShadow:1px 3px 5px 0px rgba(26, 26, 26, 1),
    noise:none,
    textNoise:none,
    selectFontColor:rgb(215, 218, 220),
    selectSelectedFontColor: #f4648a,
    selectBackgroundColor:rgb(0, 0, 0),
    activeLinkTextColor:$secondary,
    modalBackgroundColor:(#19191A),
    modalContainerBackgroundColor:#2E2C30,
    modalHeaderBackgroundColor:#1E1C21));
