//typography
$text-font-stack: "Noto Sans JP",
sans-serif !default;







//colors
$primary: #8860d0;
$primary-lighter: #C1C9E4;

$secondary: #5580E9;
$secondary-lighter: #5BB8EB;
$secondary-lightest: #84CEEB;

$gold:#FEC936;
$bronze:#CD7F32;
$silver:#C0C0C0;


$rating-color:#FFB727;
$rating-color-inactive:#D8D7D5;
