//typography
$text-font-stack: "IBM Plex Sans",
'Helvetica Neue',
'Segoe UI',
Helvetica,
Verdana,
Arial,
sans-serif !default;







//colors
$primary: #8860d0;
$primary-lighter: #C1C9E4;
$primary-black: #796477;

$secondary: #556CD6;
$secondary-light: #11c6ff;
$secondary-light-dark: #5BB8EB;
$secondary-light-lighter: #84CEEB;

$review-color:#c1c9e4;

$gold:#FEC936;
$bronze:#CD7F32;
$silver:#C0C0C0;


$rating-color:#FFB727;
$rating-color-inactive:#D8D7D5;
