body {
  margin: 0;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 9px;
}

p {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

hr {
  border-color: #fbf9f9;
}

a {
  text-decoration: none;
  background-image: linear-gradient(#8860d0, #8860d0);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: 200ms;
  font-size: 1.6rem;
}

a:hover {
  background-size: 100% 2px;
  color: #8860d0;
}

a:link,
a:visited {
  color: #8860d0;
}
