body {
  margin: 0;
  /* height: 100vh; */
}



/* body {
  background-color: white;
} */

p {
  margin: 0;
  font-size: 1.4rem;
  /* text-align: center; */
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

hr {
  border-color: #fbf9f9;
}

.animated-link {
  background-image: linear-gradient(#8860d0, #8860d0);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: 200ms;
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  /* color:  */
}

.animated-link:hover {
  background-size: 100% 2px;
  color: #8860d0;
}

.animated-link:link,
.animated-link:visited {
  color: #8860d0;
}
