.list {
  &-item {
    display: inline-block;
    margin-right: 10px;
    transition: 300ms;
    position: absolute;
  }

  &-enter-active {
    transition: 300ms;
  }

  &-leave-active {
    transition: 300ms;
    position: absolute;
  }

  &-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  &-leave-to {
    opacity: 0;
    // transform: translateY(10px);
  }

}



.list-enter,
.list-leave-to {}
