.list {
  &-item {
    display: inline-block;
    margin-right: 10px;
    transition: 300ms;
  }

  &-enter-active {
    transition: 300ms;
  }

  &-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  &-leave-to {
    opacity: 0;
    // transform: translateY(10px);
  }
}



.list-enter,
.list-leave-to {}
