.button {
  border: none;
  // text-align: center;
  // width: 90px;
  // height: 33px;
  // font-size: 15px;
  // color: black;
  // border-radius: 10px;
  // margin: auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &--small {
    width: 73px;
    height: 27.25px;
    font-size: 13px;
  }

  &--big {
    height: 35px !important;
    font-size: 13px;
  }

  &--shadow {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(191, 191, 191, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(191, 191, 191, 1);
    box-shadow: 1px 1px 5px 0px rgba(191, 191, 191, 1);
  }

  &--gradient {
    background: #7F00FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
  }

  &--black {
    color: black;
    border: 1px solid rgb(102, 102, 102);
  }

  &--primary {
    color: white;
    background-color: $primary;
    border: none;

    &--lighter {
      background-color: $primary-lighter;
    }

    &--black {
      background-color: $primary-black;
    }

    &--open {
      background-color: white;
      border: 1px solid $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }

  &--secondary {
    color: white;
    background-color: $secondary;
    border: none;

    &:hover {
      background-color: white;
      color: $secondary;
      border: 1px solid $secondary;
    }

    &--light {
      color: white;
      background-color: $secondary-light;
    }

    &--light-dark {
      color: white;
      background-color: $secondary-light-dark;
    }

    &--light-lighter {
      color: white;
      background-color: $secondary-light-lighter;
    }

    &--open {
      background-color: white;
      border: 1px solid $secondary;
      color: $secondary;

      &:hover {
        background-color: $secondary;
        color: white;
      }
    }
  }
}

// $primary: #8860d0;
// $primary-lighter: #C1C9E4;
// $primary-black: #796477;

// $secondary: #5580E9;
// $secondary-light: #11c6ff;
// $secondary-light-dark: #5BB8EB;
// $secondary-light-lighter: #84CEEB;

// $review-color:#c1c9e4;

// $gold:#FEC936;
// $bronze:#CD7F32;
// $silver:#C0C0C0;


// $rating-color:#FFB727;
// $rating-color-inactive:#D8D7D5;
