.flex {
  display: flex;

  &--align {
    align-items: center;
  }

  &--grow {
    flex-grow: 1;
  }

  &--between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }

  &--around {
    justify-content: space-around;
  }

  &--right {
    justify-content: flex-end;
  }

  &-row {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    flex-direction: row;


    &-reverse {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;

    // justify-content: space-between;
    &--between {
      justify-content: space-between;
    }

    &--around {
      justify-content: space-around;
    }

    &-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }

}
